1. Data Collection and Storage:

1.1 By submitting your personal information, including but not limited to your name, address, phone number, and other details, you explicitly consent to the collection, processing, and storage of this information by the Service Provider.

2. Information Accessibility:

2.1 You acknowledge and agree that the stored information may be accessible by authorized individuals through the use of a QR code scanning mechanism. The Service Provider shall not be responsible for any consequences resulting from the scanning and access of the QR code by authorized personnel.

3. Data Accuracy and Verification:

3.1 The Service Provider does not undertake to verify the accuracy, authenticity, or completeness of the information provided by you. It is your responsibility to ensure that the information you provide is accurate and up-to-date.

4. Limitation of Liability:

4.1 The Service Provider shall not be liable for any losses, damages, claims, or liabilities arising from the use, misuse, or disclosure of the information provided by you or accessed through the QR code scanning process.

4.2 The Service Provider shall not be responsible for any consequences resulting from the inaccuracies, omissions, or errors in the stored information.

4.3 The Service Provider disclaims any liability for any unauthorized access, disclosure, or breach of the stored information unless directly caused by willful misconduct or negligence of the Service Provider.

4.4 The Service Provider shall not be responsible for any misplacement, damage, or theft of your luggage while using our services.

4.5 The Service Provider shall not be responsible for any damage to the tag containing the QR code, regardless of the circumstances.

5. Service Provider Role:

5.1 The Service Provider is solely responsible for providing the platform for data submission and storage. The Service Provider does not guarantee the accuracy, security, or validity of the information provided by you.

5.2 The Service Provider shall not be responsible for any disputes, claims, or legal actions arising from the information provided by you or any actions taken based on that information.

6. No Responsibility or Liability:

6.1 The Service Provider expressly disclaims any responsibility or liability for any losses, damages, claims, legal actions, or any other consequences arising from the use of our website, services, or the information provided by you.

7. Changes to Agreement:

7.1 The Service Provider reserves the right to update or modify this Agreement at any time without prior notice. Your continued use of the website after such modifications signifies your acceptance of the revised terms.

By accessing and using our website, you acknowledge that you have read, understood, and agree to the terms outlined in this Agreement. If you do not agree with any part of this Agreement, please refrain from using our website.

I Agree on above