<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }

        * {
          box-sizing: border-box;
        }
        .btn{
        background: dodgerblue;
         color: white;
         width: 100%;
         display: flex;
          display: -ms-flexbox; /* IE10 */
           padding: 10px;
           margin-bottom: 15px;
        }

        .input-container {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          width: 100%;
          margin-bottom: 15px;
        }

        .icon {
          padding: 10px;
          background: dodgerblue;
          color: white;
          min-width: 50px;
          text-align: center;
        }

        .input-field {
          width: 100%;
          padding: 10px;
          outline: none;
        }

        .input-field:focus {
          border: 2px solid dodgerblue;
        }
        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
        }

        /* Set a style for the submit button */

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>

</head>

<body>
 <script type="text/javascript">
        var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
     document.getElementById('submit').disabled = false;
  } else {
     document.getElementById('submit').disabled = true;
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}

var enableButton = function(){
if(document.getElementById('check_box').checked && document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
  document.getElementById('submit').disabled = false;
}else{
document.getElementById('submit').disabled = true;
}

}
    </script>
 {% if error %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Danger!</strong> {{eror}}
    </div>
    {% endif %}

    <div class="container">
        <div style="text-align:center">
            <h1>Enter your details</h1>
        </div>
        <div class="row">

            <div class="column">
                <form action={% url 'save_user_details' id=user_info.id %} method="POST" enctype="multipart/form-data" style="max-width:500px;margin:auto">
                    {% csrf_token %}
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>

                        <input class="input-field" type="text" name="full_name" placeholder="Full Name" required>

                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>

                        <input class="input-field" type="number" max="99999999999" name="contact_number" placeholder="Contact number" required maxlength="20">

                    </div>
                    <div class="input-container">
                        <i class="fa fa-home icon"></i>
                        <input class="input-field" type="text" name="address" placeholder="Address" required maxlength="60">

                    </div>
                    <div class="input-container">
                        <i class="fa fa-envelope icon"></i>
                        <input class="input-field" type="text" name="email" placeholder="Email" required>

                    </div>
                    <div class="input-container">
                        <i class="fa fa-key icon"></i>
                        <input class="input-field" type="password" id="password" name="password" placeholder="Password"  maxlength="16" onkeyup='check();'>
                    </div>
                    <div class="input-container">
                        <i class="fa fa-key icon"></i>
                        <input class="input-field" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password"  maxlength="16" onkeyup='check();'>
                     <span id='message'></span>
                    </div>
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" name="mother_name" placeholder="Mother Name" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="mother_contact_number" placeholder="Mother Contact number" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" name="father_name" placeholder="Father Name" maxlength="20">
                    </div>

                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="father_contact_number" placeholder="Father Contact number" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" name="wife_name" placeholder="Wife Name" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="wife_contact_number" placeholder="Wife number" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" name="husband_name" placeholder="Husband Name" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="husband_contact_number" placeholder="Husband Contact" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-building icon"></i>
                        <input class="input-field" type="text" name="education_institute" placeholder="Education institute" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="education_institute_contact" placeholder="Education institute Contact number" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-building icon"></i>
                        <input class="input-field" type="text" name="work_place_name" placeholder="workplace Name" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-home icon"></i>
                        <input class="input-field" type="text" name="work_place_address" placeholder="Workplace Address" maxlength="50">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="work_place_contact_number" placeholder="Workplace Contact number" maxlength="12">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" name="best_friend_name" placeholder="Best Friend Name" maxlength="20">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-phone icon"></i>
                        <input class="input-field" type="number" max="99999999999" name="best_friend_contact_number" placeholder="Best Friend Contact number">
                    </div>

                    <input type="checkbox" id="check_box" name="check_box" onchange="enableButton();" >
                  <label>Please check to countinue</label>
                </br>
                <a href="/agrrement">Read descalimer </a>
                    <input class="btn" type="submit" value="Submit details" id="submit" disabled>

                </form>


            </div>
        </div>
    </div>
</body>

</html>